.git
.gitignore
.DS_Store
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.idea/
.vscode/
*.db
*.sqlite
*.sqlite3
my_database.db
*.log
logs/
.pytest_cache/
.mypy_cache/
tmp/
temp/
docs/
*.md
test.py
tests/
testing/
.dockerignore
config.py
projectVers.py